.c-btn
  overflow hidden
  position relative
  transition .2s transform ease-in-out
  will-change transform
  z-index 0
  display inline-block
  padding .5em 1.5em
  text-transform uppercase
  p3()
  &--lg
    p2()
    padding .7em 2em
  &.rounded-pill
    &::after
      border-radius 2rem

  &::after
    content ' '
    display block
    height 100%
    width 100%
    position absolute
    left 0
    top 0
    transform translate(-100%, 0) rotate(25deg)
    transform-origin top left
    transition .2s transform ease-out
    will-change transform
    z-index -1

  &:hover
    will-change transform
    text-decoration none

    &::after
      transform translate(0, 0)

  &--outline
    transition all 1250ms cubic-bezier(0.19, 1, 0.22, 1)
    border 1px solid
    +md-max()
      p6()

    &--pink
      background-color $col-primary-accent
      border-color $col-primary-accent
      color white

      &:hover, &:focus, &:active, &:visited
        color $col-primary-accent
        background-color white
        border-color $col-primary-accent

    &--black
      background-color $col-lgt-grey
      color $col-grey
      border-color grey

      &:hover, &:focus, &:active, &:visited
        color black
        border-color black
        background-color white

  &--primary
    background-color $col-bcrf-blue
    border-color darken($col-bcrf-blue, 0.3)

    &:hover
      border-color $col-primary-accent

    a&, span
      color white

      &:hover, &:visited
        color white

    &::after
      background-color $col-primary-accent

  &--secondary
    background-color $col-primary-accent
    border-color $col-primary-dark
    color white

    &:hover
      border-color $col-bcrf-blue

    &:hover, &:visited
      color white

    &::after
      background-color $col-bcrf-blue
