.c-footer
  background $col-bcrf-blue
  color white
  position inherit

  &__logos
    display flex
    +md-max()
      flex none
      display block

  hr
    hide()
    +md-max()
      display block

  &__nav
    color white

    a
      color white

  &__meta
    font-hurme('Hurme Thin')

  &__tagline
    span
      +md-max()
        display block

  .col
    &--filler
      +xlg-max()
        flex-grow 0
      +lg-max()
        hide()

    img
      max-width 408px
      +md-max()
        max-width 230px
    +md-max()
      width 100%
      flex none
      text-align center