.c-footer
  background $col-bcrf-blue
  color white
  position inherit

  &__divider 
    vertical-divider()
    height 100px
    margin-left 5px
    position relative 
    align-self bottom 

  &__logo
    &--Pitt
      margin-left 20px
    
  &__logos
    position relative
    display flex
    +md-max()
      justify-content center
      align-items center

  hr
    hide()
    +md-max()
      display block

  &__nav
    color white

    a
      color white

  &__meta
    font('Inter Thin')

  &__tagline
    span
      +md-max()
        display block

  .col
    &--filler
      +xlg-max()
        flex-grow 0
      +lg-max()
        hide()

    img
      max-width 408px
      +md-max()
        max-width 230px
    +md-max()
      width 100%
      flex none
      text-align center