.c-navbar
  background-color white

  &__divider
    position absolute 
    height 80%
    display inline-block 
    width 1px 
    background-color $col-primary-accent
    left 200px
    +md-max()
      hide()


  &__user 
    .text-truncate 
      display inline-block 
      vertical-align bottom 
      max-width 200px

    .dropdown-toggle::after
      display none 

    .dropdown-menu
      left inherit
      right 0
      
      
  .dropdown-menu
    border-radius 0 
    a
      border-bottom solid 1px #eee
      &:last-child 
        border none
      &:hover 
        color $col-primary-accent
        background-color transparent 

  &.navbar-light
    a, .c-navbar__link-button
      font()
      p4()
      color $col-bcrf-blue
      text-decoration none
      &.navbar-brand
        text-decoration none
        &:hover
          color $col-bcrf-blue

  &__tagline
    span 
      &:first-child 
        color black 
        
      &:last-child 
        color $col-primary-accent
    margin-left 30px
    +md-max()
      hide()

  &__menu
    color $col-bcrf-blue
    margin-right $mgn
    .navbar-nav
      svg
        pos-rel()
        top 2px
      a, .nav-link, .c-navbar__link-button
        color $col-bcrf-blue
        line-height inherit

        &:hover
          span
            color $col-primary-pink
            transition all 1s ease
            border-bottom solid 1px $col-bcrf-blue

    .c-navbar__link-button
      background none
      border none
      padding 0
      cursor pointer
