.c-sourcesExplorer
  &__vizualizations
    background-color rgba(255, 255, 255, 0.8)
    border-radius 20px 
    margin .5em 0
    border solid 10px $col-primary-light
    svg
      width auto !important