.c-sourcesVizualizations
  padding 5px 20px
  &__spinner
    min-height 200px
    display grid
    place-items center
  .VictoryContainer
    width initial !important
    tspan
      font-size 16px !important