.c-summaryCard
  
  &:hover
    cursor pointer
    box-shadow 0 0 0 .25rem #facde640

  .ant-card-head
    background-color $col-primary-light !important

  .ant-badge-count
    padding 0.2em .5em
    height auto !important
    font-weight bold !important
    border-radius 0 !important