NEXT_PUBLIC_APP_NAME='BCRF'
NEXT_PUBLIC_LOG_LEVEL='debug'
NEXT_PUBLIC_APP_BASE_URL='http://localhost:3003/'
NEXT_PUBLIC_GTM=''

DUCK_DB_PATH="duckdb.db"
BCRF_UI_CLOUDWATCH_LOG_GROUP="/aws/ec2/bcrfgdh-www/senotype-library/next-server"
PORT_MAPPING=3003

# use 'openssl rand -hex 32' to generate a new secret
SESSION_SECRET='replace_with_a_random_secret'

GLOBUS_CLIENT_ID='replace_with_globus_client_id'
GLOBUS_CLIENT_SECRET='replace_with_globus_client_secret'
GLOBUS_REDIRECT_URI='http://localhost:3003/api/auth/callback'
GLOBUS_SCOPES='openid profile email urn:globus:auth:scope:groups.api.globus.org:view_my_groups_and_memberships'
