NEXT_PUBLIC_APP_NAME='BCRF UI'
NEXT_PUBLIC_LOG_LEVEL='debug'

NEXT_PUBLIC_APP_BASE_URL='http://localhost:3003/'

NEXT_PUBLIC_CONTENT_BANNER_URL=''
NEXT_PUBLIC_GTM=''
DUCK_DB_PATH="duckdb.db"

ASSETMANAGER_ROOT="./"
ASSETMANAGER_DB_PATH = "assetmanager.sqlite.db"

# use 'openssl rand -hex 32' to generate a new secret
SESSION_SECRET=''

GLOBUS_CLIENT_ID=''
GLOBUS_CLIENT_SECRET=''
GLOBUS_REDIRECT_URI='http://localhost:3003/api/auth/callback'
GLOBUS_SCOPES='openid profile email urn:globus:auth:scope:groups.api.globus.org:view_my_groups_and_memberships'

MYSQL_DB_HOST='localhost'
MYSQL_DB_PORT=3307
MYSQL_DB_USER=''
MYSQL_DB_PASSWORD=''
MYSQL_DB_DATABASE=''