$col-dirty-white = #f7f2ef
$col-lgt-grey = #eee
$col-dk-grey = #333
$col-xlgt-grey = #fafafa
$col-alto = #ddd
$col-bali-hai = #8b9bad
$col-grey = #888
$col-emp-grey = #4f4f4f
$col-bcrf-blue = #08293b
$col-alabaster-grey = #f8f8f8
$col-chalice = #aaa
$col-primary-accent =  #d63384
$col-primary-light = #fdd6db
$col-secondary-light = #bcd9e3
$col-primary-dark = #a60058