$col-dirty-white = #f7f2ef
$col-lgt-grey = #eee
$col-dk-grey = #333
$col-xlgt-grey = #fcfcfc
$col-alto = #ddd
$col-athens-gray = #e4e7eb
$col-bcrf-blue = #00364b
$col-bcrf-blue-dark = #002432
$col-primary-accent =  #d0006f
$col-primary-light = #fdd6db
$col-primary-dark = #a92778
$col-secondary-light = #bcd9e3
$col-spring-wood = #f9f8f4

$color-names = 'athensGray', 'white', 'blue--primary', 'blue--primary--dk', 'springWood', 'pink--primary', 'pink--primary--dk',

colors()
  return $col-athens-gray white $col-bcrf-blue $col-bcrf-blue-dark $col-spring-wood $col-primary-accent $col-primary-dark